<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta property="og:title" content="Kebab-FoodTech" />
      <meta property="og:url" content="https://kebab-foodtech.herokuapp.com" />
      <meta property="og:description" content="Le kebab de l'amitier et de la paix ! No genré, Sans Gluten, Convient aux Vegans (Ces sans râces!) et EcoFriendly ! (La boite en plastique à été remplacé par du papier (pré-)maché)" />
      <meta property="og:image" content="https://www.google.fr/url?sa=i&rct=j&q=&esrc=s&source=imgres&cd=&cad=rja&uact=8&ved=2ahUKEwin5ImWov_cAhWJDMAKHQcTB2cQjRx6BAgBEAU&url=https%3A%2F%2Fwww.cuisineaz.com%2Frecettes%2Fkebab-sans-gluten-84324.aspx&psig=AOvVaw19V_6tMbbe7qDQYVYXQjei&ust=1534979445095313" />
    <title>Kebab-FoodTech</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body onload="showSlides(slideIndex)">
    <%= yield %>
  </body>
</html>
